.ProseMirror {
  min-height: 200px;
  outline: none;
}

.ProseMirror p {
  margin: 0.5em 0;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5em;
  margin: 0.5em 0;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror p[data-text-align="left"] {
  text-align: left;
}

.ProseMirror p[data-text-align="center"] {
  text-align: center;
}

.ProseMirror p[data-text-align="right"] {
  text-align: right;
}

.ProseMirror p[data-text-align="justify"] {
  text-align: justify;
}

.ProseMirror pre {
  background: #1a1a1a;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5em 0;
}

.ProseMirror code {
  background: #1a1a1a;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
}

.ProseMirror span[style*="color"] {
  color: var(--color);
}

.ProseMirror span[style*="font-size"] {
  font-size: var(--font-size);
}

.ProseMirror pre .hljs-comment,
.ProseMirror pre .hljs-quote {
  color: #616161;
}

.ProseMirror pre .hljs-variable,
.ProseMirror pre .hljs-template-variable,
.ProseMirror pre .hljs-attribute,
.ProseMirror pre .hljs-tag,
.ProseMirror pre .hljs-name,
.ProseMirror pre .hljs-regexp,
.ProseMirror pre .hljs-link,
.ProseMirror pre .hljs-name,
.ProseMirror pre .hljs-selector-id,
.ProseMirror pre .hljs-selector-class {
  color: #f98181;
}

.ProseMirror pre .hljs-number,
.ProseMirror pre .hljs-meta,
.ProseMirror pre .hljs-built_in,
.ProseMirror pre .hljs-builtin-name,
.ProseMirror pre .hljs-literal,
.ProseMirror pre .hljs-type,
.ProseMirror pre .hljs-params {
  color: #fbbc88;
}

.ProseMirror pre .hljs-string,
.ProseMirror pre .hljs-symbol,
.ProseMirror pre .hljs-bullet {
  color: #b9f18d;
}

.ProseMirror pre .hljs-title,
.ProseMirror pre .hljs-section {
  color: #faf594;
}

.ProseMirror pre .hljs-keyword,
.ProseMirror pre .hljs-selector-tag {
  color: #70cff8;
}

.ProseMirror pre .hljs-emphasis {
  font-style: italic;
}

.ProseMirror pre .hljs-strong {
  font-weight: 700;
}
